<html>
    <head>
        <title>yeeto</title>
    </head>
    <body>
        <div>
            <h1><a href="/">yeeto</a></h1>
            <p>Launched: 24.5.2020</p>
        </div>

        <div>

            <strong><h2><a href="">Post reflecting on what I’ve enjoyed studying this year</a></h2></strong>
            <p>*A post reflecting on what I've enjoyed studying this year*</p>
            <p>published: 24.5.2020</p>
        </div>

        <div>

            <strong><h2><a href="">Post looking to the future that discusses what you’re looking forward to learning about in the upcoming academic year.</a></h2></strong>
            <p>*A post looking to the future that discusses what you’re looking forward to learning about in the upcoming academic year.*</p>
            <p>published: 24.5.2020</p>
        </div>

        <div>

            <strong><h2><a href="">Post discussing how your site is structured and in your own words a description of how Django works.</a></h2></strong>
            <p>*A post discussing how your site is structured and in your own words a description of how Django works.*</p>
            <p>published: 24.5.2020</p>
        </div>
    </body>
</html>
